.card-body .card-title,
.card-body .card-subtitle{
	text-align: center;
}

.justify{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
margin-right: 5%;
margin-left: 5%;
max-width: 90%;
}

.home-buttons{
	background-color: #424242!important;
	outline-style: solid;
	color:white!important;
}